<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exclusão de Conta Concluída</title>
    <!-- Adicione qualquer link para estilos CSS aqui, se necessário -->
</head>
<body>
    <div style="text-align: center; padding: 50px;">
        <h1>Exclusão de Conta Concluída</h1>
        <p>Obrigado por ter sido cliente do MercadoCar</p>
        <!-- Adicione qualquer link ou botão para redirecionar o usuário para a página desejada -->
        <a href="http://127.0.0.1:8000">Ir para a Página Inicial</a>

        <p>Precisa de mais ajuda?</p>
        <a href="http://127.0.0.1:8000/contato/">Entre em contato conosco</a>
    </div>
    <!-- Adicione qualquer script JavaScript aqui, se necessário -->
</body>
</html>
